.center-block {
  text-align: center; }

a,
a:hover {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #fff; }

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.btn-top {
  display: none;
  position: fixed;
  top: 69%;
  right: 7%;
  z-index: 1; }

.text-center {
  text-align: center; }

.title {
  font: 37px "Roboto-Light", sans-serif;
  text-transform: uppercase;
  text-align: center; }

.header-logo,
.main-nav {
  display: inline-block;
  vertical-align: top;
  padding: 21px 27px 22px 29px; }

.main-nav {
  padding: 23px 0; }
  .main-nav .main-nav__items {
    display: inline-block; }
    .main-nav .main-nav__items .main-nav__item {
      display: inline; }
  .main-nav .main-nav__item a {
    padding: 39px 25px;
    color: #fff;
    font: 16px "Roboto-Medium", sans-serif; }
    .main-nav .main-nav__item a:hover {
      background: #21ae78; }

.header-logo {
  background: #1e1e1e;
  color: #fab31a; }
  .header-logo img {
    display: inline-block;
    vertical-align: middle; }

.contacts {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: 55px;
  font: 22px "Roboto-Light", sans-serif; }
  .contacts:before {
    position: absolute;
    left: -31px;
    top: 2px;
    content: "";
    height: 51px;
    width: 1px;
    background: #fab31a; }

header {
  position: relative; }
  header .header-container {
    position: absolute;
    text-align: center;
    z-index: 1;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-55%, 0);
        -ms-transform: translate(-55%, 0);
            transform: translate(-55%, 0); }
  header video {
    width: 100%;
    display: block;
    top: 0;
    z-index: 0; }

.main .main-slogan-wrap {
  position: absolute;
  display: block;
  top: 27%;
  left: 35%;
  -webkit-transform: translate(-40%, 40%);
      -ms-transform: translate(-40%, 40%);
          transform: translate(-40%, 40%); }
  .main .main-slogan-wrap .main-slogan {
    text-transform: uppercase;
    text-align: left;
    color: #fff; }
    .main .main-slogan-wrap .main-slogan .main-slogan__top {
      font: 37px "Roboto-Light", sans-serif; }
    .main .main-slogan-wrap .main-slogan .main-slogan__middle {
      font: 37px "Roboto-Black", sans-serif;
      color: #fab31a; }
    .main .main-slogan-wrap .main-slogan .main-slogan__bottom {
      font: 20px "Roboto-Medium", sans-serif; }

.main .btn {
  margin-top: 54px;
  background: #21ae78;
  max-width: 392px;
  width: 100%;
  height: 53px;
  line-height: 53px;
  border: 1px solid #fff;
  font-family: "Roboto-Black", sans-serif; }
  .main .btn:hover {
    color: #fff; }

.web-app-dev .web-app-dev__title {
  text-align: center;
  text-transform: uppercase;
  font: 37px "Roboto-Light", sans-serif;
  margin-bottom: 51px; }

.web-app-dev .web-app-dev__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 29px;
  width: 22.8%;
  height: 250px;
  font: 15px "Roboto-Medium", sans-serif;
  color: #fff;
  text-align: center;
  padding-left: 55px;
  padding-right: 55px; }
  .web-app-dev .web-app-dev__item .web-app-dev__item-img {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto; }
  .web-app-dev .web-app-dev__item:first-child {
    background: #4ba5f0; }
    .web-app-dev .web-app-dev__item:first-child .web-app-dev__item-img {
      margin: 50px auto;
      background: url(../images/icons_clients.svg) no-repeat; }
  .web-app-dev .web-app-dev__item:nth-child(2) {
    background: #21ae78; }
    .web-app-dev .web-app-dev__item:nth-child(2) .web-app-dev__item-img {
      margin-top: 41px;
      margin-bottom: 37px;
      background: url(../images/icons_clients.svg) no-repeat;
      background-position: -75px; }
  .web-app-dev .web-app-dev__item:nth-child(3) {
    background: #b389d7; }
    .web-app-dev .web-app-dev__item:nth-child(3) .web-app-dev__item-img {
      margin-top: 40px;
      margin-bottom: 62px;
      background: url(../images/icons_clients.svg) no-repeat;
      background-position: -150px; }
  .web-app-dev .web-app-dev__item:nth-child(4) {
    margin-right: 0;
    background: #fab31a; }
    .web-app-dev .web-app-dev__item:nth-child(4) .web-app-dev__item-img {
      margin-top: 42px;
      margin-bottom: 48px;
      background: url(../images/icons_clients.svg) no-repeat;
      background-position: -225px; }

.web-app-dev .web-app-dev__plarform {
  margin-top: 24px;
  background: #e9eef0;
  min-height: 274px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-top: 50px; }
  .web-app-dev .web-app-dev__plarform .web-app-dev__plarform--title {
    padding-top: 50px;
    line-height: 40px; }
  .web-app-dev .web-app-dev__plarform .web-app-dev__plarformItems {
    width: 100%;
    margin-top: 50px; }
    .web-app-dev .web-app-dev__plarform .web-app-dev__plarformItems .web-app-dev__plarformItem {
      display: inline-block;
      width: 15%; }

.get-mob-app {
  margin-top: 75px; }
  .get-mob-app .get-mob-app__title {
    line-height: 40px; }

.advantage-title {
  margin-top: 88px;
  margin-bottom: 49px; }

.advantage__items {
  text-align: center;
  margin-bottom: 37px; }
  .advantage__items .advantage__item .advantage__item--top {
    font: 120px "Roboto-Light", sans-serif;
    color: #fab31a; }
  .advantage__items .advantage__item .advantage__item--middle {
    font: 20px "Roboto-Medium", sans-serif;
    color: #fab31a; }
  .advantage__items .advantage__item .advantage__item--bottom {
    padding: 19px 41px;
    font: 15px "Roboto-Light", sans-serif; }

.partners .partners-list {
  position: relative;
  border: 2px solid #fab31a;
  margin-bottom: 74px;
  padding-bottom: 34px; }

.partners .partners-list__item {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: middle;
  margin: 15px 0; }

.partners .partners-title {
  display: inline-block;
  line-height: 65px !important;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
  height: 65px;
  background: #fab31a;
  color: #fff;
  font: 20px "Roboto-Medium", sans-serif;
  margin-bottom: 28px; }

.corner {
  z-index: 1;
  overflow: hidden;
  padding-top: 30px;
  width: 100%;
  margin-bottom: 4px; }
  .corner:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    background: #21ae78;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 50%;
    -webkit-transform: rotate(1deg) translateY(6px);
    -ms-transform: rotate(1deg) translateY(6px);
    transform: rotate(1deg) translateY(11px);
    z-index: 0; }
  .corner:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    background: #21ae78;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 50%;
    -webkit-transform: rotate(359deg) translate(-1px, 11px);
        -ms-transform: rotate(359deg) translate(-1px, 11px);
            transform: rotate(359deg) translate(-1px, 11px);
    z-index: 0; }

.send-msg {
  color: #fff;
  background: #21ae78;
  position: relative; }
  .send-msg .send-msg__title {
    margin-top: 74px;
    margin-bottom: 47px; }
  .send-msg .send-msg__item .send-msg__item--img {
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 33px; }
  .send-msg .send-msg__item .send-msg__item--txt {
    text-align: left; }

.possibilities-app {
  margin-top: 75px;
  background: #fff; }
  .possibilities-app .possibilities-app__title {
    padding-bottom: 47px; }
  .possibilities-app .possibilities-app__items {
    text-align: center;
    width: 100%; }
  .possibilities-app .possibilities-app__item {
    position: relative;
    display: inline-block; }
    .possibilities-app .possibilities-app__item img {
      max-width: 472px;
      width: 100%;
      height: 354px; }
    .possibilities-app .possibilities-app__item .possibilities-app__item--txt {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      width: 296px;
      max-width: 100%;
      height: 105px;
      background: rgba(224, 224, 219, 0.8);
      text-align: center;
      text-transform: uppercase;
      font: 16px "Roboto-Black", sans-serif; }

.block-form {
  background: #1b1b1b; }
  .block-form .block-form__title--top {
    padding-top: 75px;
    padding-bottom: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fab31a;
    font: 37px "Roboto-Light", sans-serif; }
  .block-form .block-form__title--middle {
    padding-bottom: 53px;
    text-transform: uppercase;
    text-align: center;
    color: #fab31a;
    font: 20px "Roboto-Medium", sans-serif; }
  .block-form .block-form__form input[type="text"],
  .block-form .block-form__form textarea {
    color: #a7a7a7;
    width: 570px;
    background: #313a3d;
    border: none;
    padding-left: 34px; }
  .block-form .block-form__form input[type="text"] {
    height: 50px;
    margin-bottom: 7px; }
  .block-form .block-form__form input[type="text"]:-webkit-input-placeholder,
  .block-form .block-form__form textarea:-webkit-input-placeholder {
    font: 16px "Roboto-Light", sans-serif;
    color: #a7a7a7;
    text-transform: uppercase; }
  .block-form .block-form__form textarea {
    margin-bottom: 21px;
    height: 201px; }
  .block-form .btn {
    width: 229px;
    height: 52px;
    background: #fab31a;
    border: none;
    margin-bottom: 75px; }

.support_month {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 37px;
  background: #fab31a;
  color: #fff;
  padding: 25px 13px 5px; }

.discussion-ideas {
  background: url(../images/discussion-ideas.png) no-repeat;
  background-position: center center;
  height: 360px;
  background-size: cover; }
  .discussion-ideas .discussion-ideas__title {
    padding-top: 46px;
    text-transform: uppercase;
    font: 37px "Roboto-Light", sans-serif;
    color: #fab31a;
    line-height: 40px;
    text-align: center;
    padding-bottom: 49px; }
  .discussion-ideas .btn {
    margin-bottom: 76px;
    background: #21ae78;
    width: 100%;
    max-width: 370px;
    height: 52px;
    line-height: 52px;
    font-family: "Roboto-Black", sans-serif; }

.slider-laptop .slider-laptop__items {
  background: url(../images/laptop.png) no-repeat;
  background-position: center center;
  height: 530px;
  background-size: contain;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%); }

.free-consultation {
  background: url(../images/form-bg.jpg) no-repeat;
  background-position: center center;
  height: 478px;
  background-size: contain;
  max-width: 678px;
  width: 100%;
  margin: 4% auto;
  padding-left: 56px; }
  .free-consultation input:not([type="submit"]), .free-consultation textarea {
    width: 337px;
    border: 1px solid #c3c3c8;
    padding-left: 20px;
    color: #7c7c7c;
    font: 13px "Roboto-Light", sans-serif; }
  .free-consultation input:not([type="submit"]) {
    height: 38px;
    margin-bottom: 8px; }
  .free-consultation textarea {
    height: 90px;
    margin-bottom: 14px;
    padding-top: 14px; }
  .free-consultation input:not([type="submit"])::-webkit-input-placeholder,
  .free-consultation textarea::-webkit-input-placeholder {
    font: 13px "Roboto-Light", sans-serif;
    color: #7c7c7c; }
  .free-consultation input[type="submit"] {
    border: none;
    background: #21ae78;
    text-transform: uppercase;
    text-align: center;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 157px;
    height: 52px;
    color: #fff;
    font: 16px "Roboto-Black", sans-serif; }
  .free-consultation .free-consultation__txt--title {
    padding-top: 43px;
    margin-bottom: 25px;
    color: #2c2c2c;
    font: 26px "Roboto-Medium", sans-serif;
    text-transform: uppercase;
    text-align: left; }
  .free-consultation .free-consultation__txt--descr {
    color: #323232;
    text-align: left;
    font: 16px "Roboto-Light", sans-serif;
    margin-bottom: 21px; }
  .free-consultation .free-consultation__item .free-consultation__items--response {
    margin-left: 23px;
    text-transform: uppercase;
    text-align: left;
    font: 16px "Roboto-Medium", sans-serif;
    color: #2c2c2c; }
  .free-consultation .free-consultation__item .free-consultation__items--btn {
    display: inline-block; }

.footer {
  border-top: 1px solid #dde0e4;
  padding-top: 38px;
  padding-bottom: 39px;
  background: #fff; }
  .footer .footer__txt {
    color: #8e8e8e;
    font: 16px "Roboto-Regular", sans-serif;
    text-align: center; }
