.center-block {
    text-align: center;
}

a,
a:hover {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}

a[href^="tel:"], a[href^="mailto:"] {
    color: $clr_main2;
    cursor: pointer;
    &:active, &:focus {
        text-decoration: none;
    }
}

.clr-black{
    color:#000!important;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        outline: none;
        color: #fff;
    }
}

.btn-top {
    display: none;
    position: fixed;
    top: 69%;
    right: 7%;
    z-index: 17;
}

.text-center {
    text-align: center;
}

.picture-bg {
    display: none;
}

.title {
    font: 37px $fnt_rl;
    text-transform: uppercase;
    text-align: center;
}

.header-logo,
.main-nav {
    display: inline-block;
    vertical-align: top;
    padding: 21px 27px 22px 29px;
}

.main-nav {
    padding: 23px 0;
    .main-nav__items {
        display: inline-block;
        .main-nav__item {
            display: inline;
        }
    }
    .main-nav__item {
        a {
            padding: 39px 25px;
            color: #fff;
            font: 16px $fnt_rm;
            &:hover {
                background: $clr_main;
            }
        }
    }
}

.header-logo {
    background: #1e1e1e;
    color: #fab31a;
    img {
        display: inline-block;
        vertical-align: middle;
    }
    .header-logo__items {
        display: inline-block;
        vertical-align: top;
        .header-logo__txt {
            margin-top: 3px;
            margin-left: -12px;
            font: 16px $fnt_rl;
        }
    }
}

.contacts {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 55px;
    font: 22px $fnt_rl;
    &:before {
        position: absolute;
        left: -31px;
        top: 2px;
        content: "";
        height: 51px;
        width: 1px;
        background: $clr_main2;
    }
}

 section {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    background-color: white;
    z-index: 2;
}

header {
    position: relative;
    height: 790px;
    overflow: hidden;
    .header-container {
        position: absolute;
        top: 6%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        z-index: 2;
        a[href^="tel:"], a[href^="mailto:"] {
            color: $clr_main2;
        }
    }
    video {
        // position: fixed;    
        // left: 0;
        // top: 0;
        // width: 100%;
        // z-index: 1;
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
    }
}

.main {
    .main-slogan-wrap {
        /* width: 100%; */
        position: absolute;
        top: 55%;
        left: 50%;
        padding-top: 88px;
        padding-left: 70px;
        padding-bottom: 92px;
        padding-right: 137px;
        box-sizing: content-box;
        background-color: rgba(0, 0, 0, 0.6);
        max-width: 930px;
        transform: translate(-50%, -50%);
        z-index: 3;
        .main-slogan {
            font-size: 37px;
            text-transform: uppercase;
            text-align: left;
            color: #fff;
            .main-slogan__top, .main-slogan__bottom {
                font-family: $fnt_rl;
                text-transform: none;
            }
            .main-slogan__middle {
                font-family: $fnt_rb;
                color: $clr_main2;
            }
            .main-slogan__bottom--size {
                font-size: 32px;
            }
        }
    }
    .btn {
        background: $clr_main;
        max-width: 392px;
        width: 100%;
        height: 53px;
        line-height: 53px;
        border: 1px solid #fff;
        font-family: $fnt_rb;
        &:hover {
            color: #fff;
            background: $clr_main2;
        }
    }
}

.web-app-dev {
    padding-top: 67px;
    padding-bottom: 67px;
    .web-app-dev__title {
        margin-bottom: 10px;
    }
    .web-app-dev__item {
        display: inline-block;
        vertical-align: top;
        margin-right: 29px;
        // width: 270px;
        width: 22.8%;
        height: 260px;
        font: 18px $fnt_rr;
        color: #010101;
        text-align: center;
        padding-left: 37px;
        padding-right: 37px;
        text-transform: uppercase;
        .web-app-dev__item-img {
            width: 116px;
            height: 116px;
            margin-left: auto;
            margin-right: auto;
            background: url(../images/icons_clients.svg?v=5) no-repeat;
        }
        &:first-child {
            // background: #4ba5f0;
            .web-app-dev__item-img {
                margin: 50px auto 5px;
            }
        }
        &:nth-child(2) {
            // background: $clr_main;
            .web-app-dev__item-img {
                margin-top: 41px;
                margin-bottom: 15px;
                background-position: -117px;
            }
        }
        &:nth-child(3) {
            // background: #b389d7;
            .web-app-dev__item-img {
                margin-top: 40px;
                margin-bottom: 15px;
                background-position: -232px;
                width: 115px;
            }
        }
        &:nth-child(4) {
            margin-right: 0;
            // background: $clr_main2;
            .web-app-dev__item-img {
                margin-top: 42px;
                margin-bottom: 12px;
                background-position: -349px;
            }
        }
    }
}

.development {
    background: #e9eef0;
}

.web-app-dev__plarform {
    min-height: 274px;
    box-sizing: content-box;
    padding-top: 50px;
    .web-app-dev__plarform--title {
        line-height: 40px;
    }
    .web-app-dev__plarformItems {
        width: 100%;
        margin-top: 50px;
        .web-app-dev__plarformItem {
            display: inline-block;
            width: 15%;
        }
    }
}

.get-mob-app {
    padding-top: 67px;
    padding-bottom: 67px;
    .get-mob-app__title {
        line-height: 40px;
    }
}

.advantage-title {
    margin-top: 67px;
    margin-bottom: 24px;
}

.advantage__items {
    text-align: center;
    margin-bottom: 60px;
    .advantage__item {
        .advantage__item--top {
            font: 120px $fnt_rl;
            color: $clr_main;
        }
        .advantage__item--middle {
            font: 20px $fnt_rm;
            color: $clr_main;
        }
        .advantage__item--bottom {
            padding: 19px 41px;
            font: 20px $fnt_rl;
        }
    }
}

.partners {
    .partners-list {
        position: relative;
        border: 2px solid $clr_main2;
        margin-bottom: 67px;
        padding-bottom: 34px;
    }
    .partners-list__item {
        display: inline-block;
        width: 33%;
        text-align: center;
        vertical-align: middle;
        margin: 15px 0;
    }
    .partners-title {
        display: inline-block;
        line-height: 65px!important;
        text-align: center;
        text-transform: uppercase;
        width: 230px;
        height: 65px;
        background: $clr_main2;
        color: #fff;
        font: 20px $fnt_rm;
        margin-bottom: 28px;
    }
}

.corner {
    z-index: 1;
    overflow: hidden;
    // position: relative;
    width: 100%;
    margin-bottom: 4px;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20px;
        background: $clr_main2;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        width: 50%;
        -webkit-transform: rotate(1deg) translateY(6px);
        -ms-transform: rotate(1deg) translateY(6px);
        transform: rotate(1deg) translateY(11px);
        z-index: 0;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 20px;
        background: $clr_main2;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        width: 50%;
        transform: rotate(359deg) translate(-1px, 11px);
        z-index: 0;
    }
}

.send-msg {
    color: #fff;
    background: #242323;
    position: relative;
    .send-msg__title {
        margin-top: 0px;
        margin-bottom: 43px;
    }
    .send-msg__items {
        max-width: 770px;
        width: 100%;
        padding-bottom: 10px;
    }
    .send-msg__item {
        width: 100%;
        font-size: 0;
        padding-bottom: 25px;
        .send-msg__item--img, .send-msg__item--txt {
            display: inline-block;
            vertical-align: middle;
        }
        .send-msg__item--img {
            text-align: center;
            width: 10%;
            img {
                width: 52px;
                height: 52px;
            }
        }
        .send-msg__item--txt {
            padding-left: 48px;
            width: 90%;
            text-align: left;
            font-size: 20px;
            font-family: $fnt_rl;
        }
        &:after {
            content: "";
            clear: both;
            display: table;
        }
    }
}

.possibilities-app {
    margin-top: 67px;
    background: none;
    .possibilities-app__title {
        padding-bottom: 45px;
        color: #fff;
    }
    .possibilities-app__items {
        text-align: center;
        width: 100%;
        padding-bottom: 67px;
    }
    .possibilities-app__item {
        position: relative;
        display: inline-block;
        padding-bottom: 4px;
        img {
            max-width: 472px;
            width: 100%;
            height: 354px;
        }
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12) {
            img {
                padding-bottom: 0;
            }
        }
        .possibilities-app__item--txt {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-height: 100%;
            padding-left: 22px;
            padding-right: 22px;
            width: 296px;
            max-width: 100%;
            height: 105px;
            text-align: center;
            text-transform: uppercase;
            background: rgba(255, 255, 255, 0.8);
            font: 15px $fnt_rb;
        }
        .possibilities-app__item--img img:hover {
            z-index: 1;
            opacity: 0.7;
            background-color: rgba(0, 0, 0, 0.8);
        }
        .possibilities-app__item--img:hover .possibilities-app__item--txt {
            background: #fff;
        }
    }
}

.block-form {
    background: #242323;
    .block-form__title--top {
        padding-top: 67px;
        padding-bottom: 15px;
        text-transform: uppercase;
        text-align: center;
        color: $clr_main2;
        font: 37px $fnt_rl;
    }
    .block-form__title--middle {
        padding-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
        color: $clr_main2;
        font: 20px $fnt_rm;
    }
    .block-form__form {
        input[type="text"],
        input[type="email"],
        textarea {
            resize: none;       
            color: #a7a7a7; 
            width: 371px;
            background: #313a3d;
            border: none;
            padding-left: 34px;
            text-transform: none;
            color: #fff!important;
        }
        input[type="text"],
        input[type="email"] {
            height: 39px;
            margin-bottom: 5px;
        }
        input[placeholder],
        textarea[placeholder] {
            font: 15px $fnt_rl;
            color: #a7a7a7;
            text-transform: none;
        }
        textarea {
            padding-top: 12px;
            height: 127px;
        }
    }
    .btn {
        width: 229px;
        height: 52px;
        background: $clr_main;
        border: none;
        margin-top: 14px;
        margin-bottom: 71px;
        font-family: $fnt_rb;
        &:hover {
            background: $clr_main2;
        }
    }
}

.video-1c {
    .title {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .btn {
        background: $clr_main;
        margin-top: 40px;
        font-family: $fnt_rb;
        max-width: 420px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        &:hover {
            background: $clr_main2;
        }
    }
}

.support_month {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $fnt_rr;
    font-size: 37px;
    background: #fab31a;
    color: #fff;
    padding: 20px 13px 5px;
}

.discussion-ideas {
    background: #1b1b1b;
    // @include background(discussion-ideas, png, center center, 360px, cover);
    .discussion-ideas__title {
        padding-top: 67px;
        text-transform: uppercase;
        font: 37px $fnt_rl;
        color: $clr_main2;
        line-height: 40px;
        text-align: center;
        padding-bottom: 49px;
    }
    .btn {
        margin-bottom: 67px;
        background: $clr_main;
        width: 100%;
        max-width: 370px;
        height: 52px;
        line-height: 52px;
        font-family: $fnt_rb;
        &:hover {
            background: $clr_main2;
        }
    }
}

.slider-laptop {
    .slider-laptop__items {
        position: relative;
        @include background(laptop, png, center center, 530px, contain);
        transform: translate(0, -25%);
    }
}

.free-consultation {
    position: relative;
    .free-consultation--close {
        position: absolute;
        top: 0;
        right: 0;
        background: $clr_main;
        color: #fff;
        text-align: center;
        font-size: 14px;
        line-height: 34px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        &:hover {
            background: $clr_main2;
        }
    }
    @include background(form-bg, jpg, center center, 478px, contain);
    max-width: 678px;
    width: 100%;
    margin:4% auto;
    padding-left: 56px;
    input:not([type="submit"]),
    textarea {
        resize: none;
        width: 337px;
        border: 1px solid #c3c3c8;
        padding-left: 20px;
        color: #7c7c7c;
        font: 13px $fnt_rl;
    }
    input:not([type="submit"]) {
        height: 38px;
        margin-bottom: 8px;
    }
    textarea {
        height: 90px;
        margin-bottom: 14px;
        padding-top: 14px;
    }
    input:not([type="submit"])::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        font: 13px $fnt_rl;
        color: #7c7c7c;
    }
    input[type="submit"] {
        display: inline-block;
        border: none;
        background: $clr_main;
        text-transform: uppercase;
        text-align: center;
        border-radius: 5px;
        // max-width: 157px;
        width: 100%;
        padding: 10px;
        height: 52px;
        color: #fff;
        font: 16px $fnt_rb;
        &:hover {
            background: $clr_main2;
        }
    }
    .free-consultation__txt--title {
        padding-top: 30px;
        margin-bottom: 25px;
        color: #2c2c2c;
        font: 26px $fnt_rm;
        text-transform: uppercase;
        text-align: left;
    }
    .free-consultation__txt--descr {
        color: #323232;
        text-align: left;
        font: 16px $fnt_rl;
        margin-bottom: 21px;
        width: 50%;
    }
    .free-consultation__item {
        .free-consultation__item--btn,
        .free-consultation__item--response {
            display: inline-block;
        }
        .free-consultation__item--response {
            vertical-align: middle;
            margin-left: 23px;
            text-transform: uppercase;
            text-align: left;
            font: 16px $fnt_rm;
            color: #2c2c2c;
        }
    }
}

.footer {
    padding-top: 10px;
    padding-bottom: 39px;
    background: none;
    position: relative;
    z-index: 4;
    .footer__txt {
        padding-top: 30px;
        padding-bottom: 25px;
        max-width: 571px;
        background-color: rgba(255, 255, 255, 0.502);
        color: #000;
        font: 16px $fnt_rr;
        text-align: center;
        a {
            color: #000;
        }
    }
}

.bar {
    background: #fff;
    height: 27px;
}

/*
    * slider-1
*/
.main-slogan-wrap {
    .flex-control-paging li a.flex-active {
        cursor: default;
        background: orange;
    }
    .flex-control-paging li a {
        background: #B8B8B8;
    }
    .flex-control-nav {
        text-align: right;
        bottom: -100%;
        right: 15%;
        font-size: 0;
    }
}
/*
    * slider 2
*/

.get-mob-app {
    .flexslider:hover .flex-direction-nav .flex-prev {
        left: 0px;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        right: 0px;
    }
    .slider-2 {
        margin: 0 auto;
        max-width: 772px;
        max-height: 182px;
        // border-left: 1px solid #fab31a;
        // border-right: 1px solid #fab31a;
        // overflow: hidden;
        margin-top: 50px;
        padding-bottom: 10px;
    }
    .slider-2 .flex-direction-nav .flex-prev,
    .slider-2 .flex-direction-nav .flex-next,
    .slider-2 .flex-direction-nav .flex-prev:hover,
    .slider-2 .flex-direction-nav .flex-next:hover {
        opacity: 1;
    }
    .slider-2 .flex-direction-nav .flex-next {
        right: 0px;
    }
    .slider-2 .flex-direction-nav .flex-prev {
        left: 0px;
    }
    .slider2__item--txt {
        padding-top: 8%;
        font: 18px $fnt_rl;
    }
    .slider2__item--bold {
        font: 18px $fnt_rb;
        text-transform: uppercase;
    }
    .slider2__item--img {
        text-align: center;
        img {
            display: inline-block!important;
            width: auto!important;
        }
    }
    .flex-control-nav {
        bottom: 0px;
        text-align: right;
    }
    .flex-active {
        background: $clr_main2!important;
    }
    .flex-control-nav li {
        display: inline-block;
        margin-right: 11px;
    }
    .flex-control-paging li a {
        width: 9px;
        height: 9px;
        background: #b8b8b8;
        border-radius: 9px;
        font-size: 0;
    } 
}