@import "_mixin";
@import "_variables";

/*
    * Adaptive style
*/
@media ( max-width: 1440px ){
    .main {
        .main-slogan-wrap {
            transform: translate(11%, 50%);
        }
    }

    .possibilities-app {
        .possibilities-app__item {
            img {
                max-width: 420px;
            }
        }
    }

}

@media ( max-width: 1199px ){
    .web-app-dev {
        .web-app-dev__item {
            margin-right: 23px;
        }
    }
}

@media( max-width: 991px ){
    .web-app-dev { 
        .web-app-dev__item {
            width: 100%;
        }
    }
    .partners {
        .partners-list__item {
            width: 100%;
        }
    }
    .block-form .block-form__form {
        input[type="text"], textarea {
            width: 100%;    
        }
     }
}

@media( max-width: 830px ){
    .main {
        .main-slogan-wrap {
            transform: translate(1%, 50%);
        }    
    }
    .main-nav .main-nav__items {
        display: block;
        padding: 0;
    }
    .main-nav .main-nav__item a {
        background: none;
        padding: 0;
    }
    .main-nav .main-nav__items .main-nav__item {
        display: block;
    }
    .main-nav .main-nav__item a:hover {
        background: none;
        color: $clr_main;
    }
    header video {
        display: none;
    } 
    .picture-bg {
        display: block;
        @include background(preview-picture, jpg, center center, 792px, cover);
    } 
}

@media( max-width: 462px ){ 
    .main .main-slogan-wrap {
        transform: translate(1%, 36%);
    }
    .main .btn {
        display: inline-block;
        max-width: 294px;
        line-height: 0;
    }
}