@import "_mixin";
@import "_fonts";
@import "_variables";

/*
    * Adaptive style
*/
@media ( max-width: 1440px ){
    .main {
        .main-slogan-wrap {
            transform: translate(11%, 50%);
        }
    }

    .possibilities-app {
        .possibilities-app__item {
            img {
                max-width: 420px;
            }
        }
    }

}

@media ( max-width: 1199px ){
    .web-app-dev {
        .web-app-dev__item {
            margin-right: 23px;
        }
    }
}

@media( max-width: 991px ){
    .web-app-dev { 
        .web-app-dev__item {
            width: 100%;
        }
    }
    .partners {
        .partners-list__item {
            width: 100%;
        }
    }
    .block-form .block-form__form {
        input[type="text"], textarea {
            width: 100%;    
        }
     }
}

@media( max-width: 830px ){

}