/*
    * Adaptive style
*/
@media ( max-width: 1440px ){
    .main {
        .main-slogan-wrap {
            transform: translate(11%, 40%);
        }
    }

    .possibilities-app {
        .possibilities-app__item {
            img {
                max-width: 400px;
            }
        }
    }
}

@media ( max-width: 1366px ){
    .slider-laptop .slider-laptop__items {
        transform: translate(0, -30%);
    } 
}



@media ( max-width: 1199px ){
    .web-app-dev {
        .web-app-dev__item {
            margin-right: 23px;
        }
    }
    .block-form {
        .block-form__form {
            input[type="text"], input[type="email"], textarea {
                width: 365px;
            }
        }
    }
}

@media ( max-width: 1160px ){
    .slider-laptop .slider-laptop__items {
        transform: translate(0, -24%);
    }
}

@media( max-width: 991px ){
    .web-app-dev { 
        .web-app-dev__item {
            width: 100%;
             margin-right: auto;
        }
    }
    header {
        height: 550px;
    }
    .web-app-dev__products {
        font-size: 0;
    }
    .partners {
        font-size: 0;
        .partners-list__item {
            width: 50%;
        }
    }
    .block-form .block-form__form {
        input[type="text"], input[type="email"],
        input[type="submit"], textarea {
            width: 100%;
        }
        textarea {
            margin-left: 0;
        }
     }
    .slider-laptop {
       .slider-1 {
          margin: 0 auto;
          max-width: 922px;
          width: 100%;
          max-height: 398px;
          overflow: hidden;
          margin-top: 8.8%;
          border: none;
          img {
              padding: 0% 11.7% 0;
          }
          .flex-next, .flex-prev {
              left: 11.5%;
          }
        }
     }
}

@media( max-width: 830px ){
    header {
        height: auto;
    }
    .main {
        .main-slogan-wrap {
            transform: translate(0%, 50%);
            padding-left: 5%;
        }    
    }
    .web-app-dev__plarform {
        .web-app-dev__plarform--title {
            padding-top: 20px;
        }
        .web-app-dev__plarformItems .web-app-dev__plarformItem {
            width: 32%;
        }
    }
    .web-app-dev .web-app-dev__item {
        height: 105px;
    }
    .main-nav .main-nav__items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 12px;
        .main-nav__item {
            padding-right: 40px;
            &:last-child {
                padding-right: 0;
            }
            a {
                background: none;
                padding: 0;
            }
            a:hover {
                background: none;
                color: $clr_main;
            }
        }
    }
    .possibilities-app {
        .possibilities-app__item {
            img {
                max-width:340px;
            }
        }
    }
    .block-form__form {
        padding: 20px;
    }
    .block-form .block-form__title--top {
        font-size: 28px;
    }
    .get-mob-app .slider2__item--txt {
        text-transform: uppercase;
        padding-left: 2px;
    }
    header video {
        display: none;
    } 
    .picture-bg {
        display: block;
        @include background(preview-picture, jpg, center center, 792px, cover);
    }
    .web-app-dev__item {
        font-size: 16px;
        text-transform: uppercase;
    }
    .send-msg {
        .send-msg__item {
            .send-msg__item--txt {
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
        }
    }
    .advantage__item--bottom {
        text-transform: uppercase;
    }
    .web-app-dev {
        .web-app-dev__item {
            display: flex;
            justify-content: center;
            align-items: center;
            .web-app-dev__item-img {
                display: none;
            }
        }
        .web-app-dev__plarform {
            margin-top: 0;
            padding-bottom: 50px;
            .web-app-dev__plarform--title {
                padding-top: 0;
            }
            .web-app-dev__plarformItems {
                width: 100%;
                margin-top: 29px;
                padding-bottom: 29px;
                .web-app-dev__plarformItem {
                    display: inline-block;
                    width: 32%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
        
    }
    .free-consultation {
        background-size: cover;
        padding-left: 10px;
    } 
}

@media( max-width: 750px ){
    .slider-laptop {
        .slider-1 {
            margin-top: 3%;
        }
    }
    .slider-laptop {
        .slider-laptop__items {
            background-position: top center;
            transform: translate(0, 2%);
        }
    }
}

@media( max-width: 700px ){
    .possibilities-app {
        .possibilities-app__item {
            img {
                max-width: 420px;
                height: auto;
            }
        }
    }
}

@media(max-width: 550px){
    .title {
        font-size: 28px;
    }
    .main-slogan__top, .main-slogan__middle {
        font-size: 28px;
    }
    .web-app-dev {
        .web-app-dev__item {
            width: 100%;
        }
    }
}

@media(max-width: 500px){
    .slider-laptop {
        .slider-1 .flex-caption {
            top: 0;
            font-size: 13px;
        }
        .slider-laptop__items {
            height: 300px;
        }
    }
    .partners-list__item img {
        display: block;
        max-width: 100%;
        height: auto;
        text-align: center;
        margin: auto;
        padding: 20px;
    }

    .possibilities-app {
        .possibilities-app__item {
            .possibilities-app__item--txt {
                padding-left: 18px;
                padding-right: 18px;
                width: 125px;
                height: 75px;
                font: 10px "Roboto-Black", sans-serif;
            }
            img {
                max-width: 156px;
            }
        }
    }
}

@media( max-width: 462px ){ 
    .main .main-slogan-wrap {
        transform: translate(0%, 36%);
    }
    .main .btn {
        display: inline-block;
        padding: 11px 0;
        max-width: 260px;
        line-height: 21px;
        height: 63px;
    }
   .get-mob-app {
       margin-top: 40px;
   }
   .web-app-dev__plarform {
        padding-bottom: 70px;
    }
}

@media( max-width: 410px ){ 
    header .header-container {
        left: 0%;
        transform: translate(0%, 0);
        width: 100%;
        padding: 0;
    }
    .header-logo, .main-nav,  .header-logo img  {
        display: block;
        width: 100%;
        margin: auto;
    }
    .free-consultation {
        background-size: cover;
        padding-left: 0px;
        height: auto;
        padding: 20px;
        input[type="text"], input[type="email"], textarea {
            width: 100%;
        }
    }
}

@media( max-width: 398px ){ 
    .free-consultation .free-consultation__item .free-consultation__item--response {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media( max-width: 350px ){ 
    .discussion-ideas .btn {
        display: inline-block;
        max-width: 350px;
        height: 66px;
        padding: 11px 0;
        line-height: 25px;
    }
}